.card {
    border-radius: 10px;
    overflow: hidden;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.table thead th {
    text-align: center;
}

.table td, .table th {
    vertical-align: middle;
    text-align: center;
}

.btn-outline-danger {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
}
