<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
 
<div *ngIf="whatTOShow==0 " class="full-height">
  <app-navabar></app-navabar>
  <!-- <app-home></app-home> -->
</div>
 
 <!-- <div *ngIf="whatTOShow==1 " class="full-height">
  <app-home></app-home>
</div>
<div *ngIf="whatTOShow==1 " class="full-height">
  <app-login></app-login>
</div>
<div *ngIf="whatTOShow==1 " class="full-height">
  <app-user></app-user>
</div> -->

<router-outlet></router-outlet>
