<!-- <button>add job</button>
<button>View My job</button>
<button>View Company Job</button>
<button>View Company Job</button>
<button>Search candidates</button> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Naukari</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

  <div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- Sidebar -->
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark position-fixed h-100">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white w-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a (click)="changeCat(0)" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a (click)="changeCat(1)" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Add Jobs</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="changeCat(3)" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">View Jobs</span></a>
                    </li>
                    <li>
                        <a (click)="changeCat(5)" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Active Jobs</span> </a>
                    </li>
                    <li>
                        <a (click)="changeCat(6)" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Closed Jobs</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div class="col offset-md-3 offset-xl-2 py-3">
            <div class="container" *ngIf="WhatToShow==0">
                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <div class="card bg-c-blue order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Recruters</h6>
                                <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>1</span></h2>
                                <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-xl-3">
                        <div class="card bg-c-green order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Active Jobs</h6>
                                <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>486</span></h2>
                                <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-xl-3">
                        <div class="card bg-c-yellow order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Closed Jobs</h6>
                                <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>486</span></h2>
                                <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-xl-3">
                        <div class="card bg-c-pink order-card">
                            <div class="card-block">
                                <h6 class="m-b-20">Total jobs</h6>
                                <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>486</span></h2>
                                <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                    <div class="row">
                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-c-blue order-card">
                                <div class="card-block">
                                    <h6 class="m-b-20">Recruters</h6>
                                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>1</span></h2>
                                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-c-green order-card">
                                <div class="card-block">
                                    <h6 class="m-b-20">Active Jobs</h6>
                                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>486</span></h2>
                                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-c-yellow order-card">
                                <div class="card-block">
                                    <h6 class="m-b-20">Closed Jobs</h6>
                                    <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>486</span></h2>
                                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-c-pink order-card">
                                <div class="card-block">
                                    <h6 class="m-b-20">Total Jobs</h6>
                                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>486</span></h2>
                                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                
                
            </div>
            <div *ngIf="WhatToShow==1">
                <app-addjob-recruter></app-addjob-recruter>
            </div>
            <div *ngIf="WhatToShow==3">
                <app-viewcompjob></app-viewcompjob>
            </div>
            <div *ngIf="WhatToShow==4">
                <app-viewapplicants></app-viewapplicants>
            </div>
            <div *ngIf="WhatToShow==5">
                <app-activejobs></app-activejobs>
            </div>
            <div *ngIf="WhatToShow==6">
                <app-closedjobs></app-closedjobs>
            </div>
        </div>
    </div>
</div>

<div class="buyer-container">
    <!-- <button (click)="changeCat(1)">Add jobs</button>
     <button routerLink="/recruter/jobs">view jobs</button>
    <button (click)="changeCat(3)">View Company jobs</button>  -->
</div>


